/* CSS for Animal Trading Cards  */
body {
  background-image: url("https://wallpaperscraft.com/image/fire_background_dark_lines_47328_1920x1200.jpg");
  color: #222;
  font-family: "Oxygen", sans-serif;
}
#container {
  border: 1px solid #DE1;
  border-radius: 1em;
  background-color: rgba(255, 255, 0, 0.849);
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 300px;
  margin: 1em auto;
  -webkit-box-shadow: 1px 1px 20px -2px;
}
img {
  width: 300px;
}
.animal-info {
  border: 1px solid #DE1;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0 0 0;
}
#interesting-fact {
  text-align: center;
  font-style: italic;
}
span {
  font-weight: bold;
}

p {
  padding-left: 5px;
  margin: 5px;
}
ul {
  list-style-type: none;
  padding-left: 5px;
}
